@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f7f8;
}

header{
    padding: 24px 8%;
}

.nav-item a{
    font-weight: 600;
    
}
#mobile_menu{
    display: none;
}

#mobile_menu.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width: 768px) {
    #mobile_menu{
        display:none;
    }
    
    #nav_list{
        display: flex;
    }
    #mobile_btn{
        display: none;
    }
}
